<link rel="stylesheet" href="css/input.css">
<div class="wrapper" style="margin-top:16px; margin-left:16px">
  <form>
    <h1 style="position:fixed; top:4px;">Add Movie</h1>
    <div class="group" style="margin-left:400px">
      <label>Movie Name</label>
      <input type="text" ng-model="detail.name" placeholder="Movie name" class="fillpage" required="required"/><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group" style="margin-left:400px">
      <label>Year of Release</label>
      <input type="text" placeholder="Year of release" ng-model="detail.year" class="fillpage" required="required"/><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group" style="margin-left:400px">
      <label>Genre</label>
      <input type="text" placeholder="Genre of movie" ng-model="detail.genre" class="fillpage" required="required"/><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group" style="margin-left:400px">
      <label>Runtime</label>
      <input type="text" placeholder="Runtime of movie" ng-model="detail.time" class="fillpage" required="required"/><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group" style="margin-left:400px">
      <label>Average Rating</label>
      <input type="text" placeholder="Average Rating of movie" ng-model="detail.rating" class="fillpage" required="required"/><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group" style="margin-left:400px">
      <label>Description</label>
      <input type="text" placeholder="Describe some part of the movie..." ng-model="detail.description" class="fillpage" required="required"/><span class="highlight fillpage"></span><span class="bar"></span>
    </div>
        <div class="btn-box" style="margin-left:1178px; position:fixed; top:-40px;">
      <button class="btn btn-success" type="submit" ng-show="isInsertMode" ng-click="insertRecords()">Submit</button>
      <button class="btn btn-warning" type="submit" ng-show="isUpdateMode" ng-click="updateRecords()">Update</button>
      <button class="btn btn-cancel btn-danger" ng-click="onCancel()" type="button">Cancel</button>
    </div>
  </form>
</div>